<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035805080306-k3a95a6ertmqj74s8dugd8lprik99ae0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035805080306-k3a95a6ertmqj74s8dugd8lprik99ae0</string>
	<key>API_KEY</key>
	<string>AIzaSyA2_fZ1CecnuW6GgZuwVjtrsN1RT5pB9JM</string>
	<key>GCM_SENDER_ID</key>
	<string>1035805080306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zungi.Chatter</string>
	<key>PROJECT_ID</key>
	<string>chatter-d5842</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-d5842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035805080306:ios:87ecd466e12f5f1efe6e6b</string>
</dict>
</plist>